window {
    font-family: "Fira Code", monospace;
    font-size: 14px;
    background-color: #1d2021;
    color: #fbf1c7;
    border: 2px solid #504945;
    border-radius: 8px;
}

#input {
    background-color: #282828;
    color: #fbf1c7;
    border: 1px solid #504945;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
}

#inner-box {
    margin: 0 8px 8px 8px;
}

#outer-box {
    margin: 0;
}

#scroll {
    background-color: #1d2021;
}

#entry {
    padding: 6px 8px;
    border-radius: 4px;
    background-color: #1d2021;
}

#entry:selected {
    background-color: #504945;
    color: #fbf1c7;
}

#text {
    color: #ebdbb2;
}

#text:selected {
    color: #fbf1c7;
}
