* {
    font-family: "Fira Code", monospace;
    font-size: 13px;
}

window#waybar {
    background-color: #282828;
    color: #ebdbb2;
}

#workspaces button {
    padding: 0 5px;
    color: #928374;
}

#workspaces button.active {
    background-color: #504945;
    color: #fbf1c7;
}

#disk {
    color: #b8bb26;
}

#network {
    color: #83a598;
}

#pulseaudio {
    color: #d3869b;
}

#cpu {
    color: #fe8019;
}

#temperature {
    color: #fabd2f;
}

#clock.date {
    color: #a9b665;
}

#clock.tokyo {
    color: #6c8a4e;
}

#clock.paris {
    color: #7db560;
}

#clock.newyork {
    color: #8ec07c;
}

#clock.la {
    color: #a9d494;
    font-weight: bold;
    margin-right: 4px;
}

#disk,
#network,
#pulseaudio,
#cpu,
#temperature,
#clock {
    padding: 0 8px;
}

#disk,
#network,
#pulseaudio,
#cpu,
#temperature,
#clock.date {
    border-right: 1px solid #504945;
}
